@keyframe fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.vertical-center
	-webkit-transform: translateY(-50%)
	-moz-transform: translateY(-50%)
	transform: translateY(-50%)
	position: absolute
	top: 50%

.horizontal-center
	margin: 0 auto

.vertical-horizontal-center
	-webkit-transform: translate(-50%, -50%)
	-moz-transform: translate(-50%, -50%)
	transform: translate(-50%, -50%)
	position: absolute
	left: 50%
	top: 50%

.mobile
	@include media-breakpoint-up(sm)
		display: none !important

.tablet
	@include media-breakpoint-up(lg)
		display: none !important

.small-tablet
	@include media-breakpoint-up(md)
		display: none !important

.tablet-up
	@include media-breakpoint-down(sm)
		display: none !important

.desktop
	@include media-breakpoint-down(md)
		display: none !important

.desktop-wide
	@include media-breakpoint-down(lg)
		display: none !important

.hidden
	display: none !important

h1
	font-size: 46px
	color: $brand-dark-blue
	font-family: $font-barlow
	font-weight: bold
	letter-spacing: -1.89px
	line-height: 43px
	
	@include media-breakpoint-down(sm)
		font-size: 36px
		line-height: 38px

h2
	font-family: $font-barlow
	font-size: 31px
	color: $brand-dark-blue
	line-height: 32px

	@include media-breakpoint-down(sm)
		font-size: 21px
		line-height: 22px

h3
	font-family: $font-barlow
	font-size: 28px
	color: $brand-dark-blue
	line-height: 33px

	@include media-breakpoint-down(sm)
		font-size: 20px
		line-height: 24px

h4
	font-family: $font-barlow
	font-size: 21px
	color: $brand-dark-blue
	line-height: 25px

h5
	font-family: Barlow-Bold
	font-size: 13px
	color: $brand-gray
	line-height: 25px

p
	font-family: $font-barlow
	font-size: 21px
	color: $brand-dark-blue
	line-height: 25px

	@include media-breakpoint-down(sm)
		font-size: 16px
		line-height: 21px

b
	font-weight: bold

.section-title
	text-align: center

.eo-span
	background-color: #FFF
	color: $brand-dark-blue
	font-size: 36px
	font-family: $font-barlow
	font-weight: bold
	border-radius: 35px
	padding: 5px 15px
	position: relative
	&:before
		content: ''
		width: 25px
		height: 25px
		background-color: #fff
		position: absolute
		z-index: -1
		left: 0
		top: 0

	@include media-breakpoint-down(sm)
		font-size: 22px
		&:before
			height: 19px

body
	font-family: $font-barlow
	color: $brand-black
	background-color: $brand-light-gray

.page-section
	margin-top: 60px
	background-color: #FFF

	@include media-breakpoint-down(sm)
		overflow: hidden
		margin-top: 30px

.entry-title
	padding: 40px 30px
.hero-section
	.hero-copy
		max-width: 600px
		margin: 0 auto
		margin-top: 60px

.carousel
	.carousel-inner
		min-height: 100%
		.carousel-item
			min-height: 100%
			background-size: cover
			background-position: 75% top
	.carousel-indicators
		li
			width: 16px
			height: 16px
			border: 2px solid #FFF
			border-radius: 8px
			cursor: pointer

	@include media-breakpoint-down(sm)
		.btn
			width: 300px
			margin-top: 20px
		.carousel-inner
			height: calc(100vh - 79px)

body.home
	.carousel
		.carousel-inner
			font-family: $font-barlow-condensed
			min-height: 300px
			.carousel-item
				color: #FFF
				padding-top: 30px
				.eo-span
					margin-left: 32px
				.slide-copy-wrapper
					p
						font-family: $font-barlow-condensed
						font-size: 21.3px
						color: #FFFFFF
						b
							color: $brand-dark-blue
					b
						font-weight: bold
					ul
						list-style: none
						color: #FFF
						padding-left: 0px
						li
							font-family: $font-barlow
							font-size: 36px
							letter-spacing: -1.6px
							line-height: 1.2
							// background: url(../img/angle-right.svg) left 20px no-repeat
							padding-left: 30px
							margin-bottom: 10px
							position: relative
							&:before
								content: '\f105'
								font-family: FontAwesome
								position: absolute
								left: 0
	.form-area
		margin-top: 50px

	@include media-breakpoint-down(sm)
		.carousel
			.carousel-inner
				min-height: 70vh
				.carousel-item
					.slide-copy-wrapper
						h2
							margin-bottom: 0
						p
							font-size: 16px
							margin-top: 20px
						ul
							li
								font-size: 27px
								background: none
								line-height: 1

	@include media-breakpoint-up(md)
		.carousel
			.carousel-inner
				min-height: 600px
				.carousel-item
					padding-top: 170px
					.slide-copy-wrapper
						margin-left: 20px
						ul
							li
								font-size: 46px
								margin-bottom: 0px


.callouts
	padding: 30px
	background-color: #FFF
	.callout
		text-align: center
		img
			width: 110px
			max-width: 100%
		p
			margin-top: 30px

	@include media-breakpoint-down(xs)
		padding: 30px 15px
		.callout
			margin-top: 30px
			padding-left: 15px
			padding-right: 15px
	
	@include media-breakpoint-up(md)
		h1
			margin-bottom: 60px

.testimonials
	padding: 40px 30px
	background-color: #FFF
	background-image: url(../img/testimonial-bg-1.jpg), url(../img/testimonial-bg-2.jpg)
	background-position: top left, bottom right
	background-repeat: no-repeat, no-repeat
	.testimonial-image
		margin-top: 50px
		margin-bottom: 20px
	.btn
		font-size: 27px
		letter-spacing: -0.54px
		padding: 10px 30px
		&:first-of-type
			margin-right: 15px
	.testimonial-copy
		text-align: center
		max-width: 800px
		margin: 0 auto
		font-family: $font-barlow
		font-weight: lighter
		font-style: italic
		.testimonial-name
			font-family: $font-barlow
			font-weight: bold
			font-style: initial
			font-size: 18px
			margin-bottom: 0
		.testimonial-subname
			font-family: $font-barlow
			font-style: initial
			font-size: 16px
			line-height: 35px
			margin-top: -5px

	@include media-breakpoint-down(md)
		.btn
			font-size: 17px
			width: 80%
			margin-right: 0 !important
			padding: 10px
			font-size: 12px
			i
				font-size: 14px
		.btn + .btn
			margin-top: 15px

// Page Test Prep
body.page-template-template-test-prep
	.hero-section
		background-image: url(../img/test-prep-bg-1.svg), url(../img/test-prep-bg-2.svg)
		background-position: 0 280px, top right
		background-repeat: no-repeat, no-repeat
	.nav-tabs
		margin-top: 120px

	@include media-breakpoint-down(sm)
		.hero-section
			background-image: url(../img/test-prep-bg-2.svg)
			background-position: 270px top
			.entry-title
				padding: 30px
				padding-bottom: 0
			.hero-copy
				padding-left: 30px
				padding-right: 30px
			.nav-tabs
				margin-top: 30px
				padding-left: 30px
				padding-right: 30px
				padding-bottom: 30px
				.nav-link
					width: 100%
					border: none
					padding-left: 0
					padding-right: 0
					text-align: center

.nav-tabs
	padding-left: 30px
	border-bottom: 1px solid $brand-blue
	.nav-link
		border: none
		color: $brand-blue
		&.active
			color: $brand-orange
			border: 1px solid $brand-blue
			border-bottom: none
			font-weight: bold

// Page Careers
body.page-template-template-careers
	.hero-section
		background-size: 100%
		background-position: 50% 40%
		background-repeat: no-repeat
		padding: 70px 30px
		.hero-content
			max-width: 600px
			margin: 0 auto
			h1, p
				color: #FFF
			p
				margin-top: 20px
	.opportunities-section
		padding: 30px
		.opportunities-wrapper
			margin-top: 30px
			.opportunity-item
				background-color: #f5f5f5
				padding: 30px
				h4
					font-weight: bold

	.eo-form-wrapper
		.form-wrapper
			background-color: #F6F6F6

	@include media-breakpoint-up(md)
		.opportunities-section
			.opportunities-wrapper
				.opportunity-item
					min-height: 517px

.locations-wrapper
	margin-top: 30px
.locations-section
	padding: 30px
	.location-item
		background-color: #f5f5f5
		padding: 30px
		min-height: 270px
		.location-copy
			min-height: 140px
			h4
				font-weight: bold
			p
				font-size: 19px
		.coming-soon
			background: $brand-blue
			font-family: $font-barlow
			font-size: 19px
			color: #FFFFFF
			box-shadow: -30px 0px 0px $brand-blue
			font-weight: bold
			padding: 10px 0
			width: 90%
			margin-top: 25px

	@include media-breakpoint-down(sm)
		.entry-title
			padding: 0
		.location-item
			margin-bottom: 30px

.tab-content
	.tab-pane
		.main-content-wrapper
			padding: 30px
		.secondary-content-wrapper
			background-image: linear-gradient(135deg, #55A2CC 0%, #37769A 100%)
			color: #FFF
			padding: 30px
			padding-bottom: 100px
			p, h2, h3, a
				color: #FFF
			ul
				margin-top: 30px
				list-style-type: none
				position: relative
				padding-left: 30px
				li
					font-family: $font-barlow
					font-size: 21px
					line-height: 25px
					margin-bottom: 1rem
					&:before
						content: ''
						width: 10px
						height: 10px
						position: absolute
						left: 0
						margin-top: 10px
						background-color: #FFF
						border-radius: 10px

	@include media-breakpoint-down(sm)
		.tab-pane .secondary-content-wrapper
			ul
				li
					&:before
						margin-top: 5px


// Page Advising
.page-template-template-advising
	.hero-section
		padding-bottom: 60px
		.entry-title
			padding: 40px 30px
		.hero-bottom-copy
			max-width: 620px
			margin: 0 auto
		p, h2
			padding-left: 30px
			padding-right: 30px
	.callouts
		.section-title
			max-width: 800px

.timeline-wrapper
	position: relative
	padding: 15px 0
	.timeline
		width: 100%
		height: 3px
		background-image: linear-gradient(90deg, #74D792, #70C1D8)
		position: relative
		&:after
			border: 9px solid transparent
			border-left-color: #70C1D8
			content: ''
			position: absolute
			right: -14px
			top: -8px
	.timeline-numbers
		padding: 0 30px
		.col-xl-1
			> span
				font-family: $font-barlow
				font-weight: bold
				margin-bottom: 9px
				display: block
				color: $brand-dark-blue
				&:after
					content: ''
					height: 8px
					width: 1px
					background: #73CEB2
					position: absolute
					left: 15px
					bottom: 0

		.col-xl-1:first-of-type span:after
			left: 15px
	.timeline-item
			background: #74D792
			font-family: $font-barlow
			font-size: 15px
			line-height: 16px
			color: #FFFFFF
			padding: 10px
			border-radius: 10px
			// max-width: 215px

	@include media-breakpoint-down(lg)
		.timeline
			display: none
		.timeline-numbers
			.col-xl-1
				> span
					display: none
				.timeline-item
					margin-bottom: 15px

	@include media-breakpoint-up(xl)
		padding: 210px 0 150px
		.section-title
			margin: 0 auto 90px
		.timeline-numbers
			.timeline-item
				animation: fade-in 1.5s forwards
				opacity: 0
			.col-xl-1
				&:nth-child(1)
					.timeline-item.top
						bottom: 125px
				&:nth-child(2) .timeline-item
					animation-delay: .1s
				&:nth-child(3) .timeline-item
					animation-delay: .2s
				&:nth-child(4) .timeline-item
					animation-delay: .3s
				&:nth-child(5) .timeline-item
					animation-delay: .4s
				&:nth-child(6) .timeline-item
					animation-delay: .5s
				&:nth-child(7) .timeline-item
					animation-delay: .6s
				&:nth-child(8) .timeline-item
					animation-delay: .7s
				&:nth-child(9) .timeline-item
					animation-delay: .8s
				&:nth-child(10) .timeline-item
					animation-delay: .9s
				&:nth-child(11) .timeline-item
					animation-delay: 1s

				&:nth-child(5), &:nth-child(9)
					.timeline-item.top
						left: -115px
						&:after
							left: auto
							right: 0
							bottom: -10px
							border-left-color: transparent
							border-right-color: #74D792
					.timeline-item.bottom
						left: -112px
						&:after
							left: auto
							right: 0
							border-left-color: transparent
							border-right-color: #74D792
				&:nth-child(10)
					.timeline-item.top
						bottom: 120px
				&:nth-child(5)
					.timeline-item
						background-color: #73D0AC
						&:after
							border-right-color: #73D0AC !important
					.timeline-item.bottom
						left: -100px
				&:nth-child(6)
					.timeline-item
						background-color: #72CFAB
						&:after
							border-left-color: #72CFAB !important
				&:nth-child(9)
					.timeline-item
						background-color: #72CFAB
						&:after
							border-right-color: #72CFAB !important
				&:nth-child(10)
					.timeline-item
						background-color: #71C5CC
						&:after
							border-left-color: #71C5CC !important
				&:nth-child(11)
					.timeline-item
						background-color: #70C3D3
						&:after
							border-left-color: #70C3D3 !important
		.timeline-item
			position: absolute
			white-space: nowrap
			&.top
				bottom: 60px
				&:after
					content: ''
					position: absolute
					left: 0
					bottom: -10px
					border: 15px solid transparent
					border-left-color: #74D792
			&.bottom
				top: 60px
				&:after
					content: ''
					position: absolute
					left: 0
					top: -12px
					border: 15px solid transparent
					border-left-color: #74D792


// Our Philosofy page
.page-template-template-philosophy
	.entry-title
		padding-bottom: 0px
	.callouts
		.section-title
			text-align: left
			margin-bottom: 60px

	.approach-wrapper
		.approach
			padding: 40px 15px
			background-image: url(../img/approach-bg.jpg)
			background-repeat: no-repeat
			background-position: right 0px
			p.subtitle
				margin-top: 30px
			.bubbles
				padding: 40px 0
				.bubble-text
					background-color: #67A2D7
					padding: 15px
					border-radius: 25px
					margin-bottom: 20px
					position: relative
					p
						color: #FFF
						margin-bottom: 0
					&:before
						content: ''
						position: absolute
						left: 0
						top: 0
						border: 20px solid transparent
						border-left-color: #67A2D7
						border-top-color: #67A2D7
					&:after
						content: ''
						position: absolute
						right: 0
						bottom: 0
						border: 20px solid transparent
						border-right-color: #67A2D7
						border-bottom-color: #67A2D7

	.tutors-wrapper
		h1
			padding-right: 30px
			padding-left: 30px
		.tutors
			padding: 40px 0
			.row
				align-items: center
				.col-md-6
					img
						width: 100%
			.colored-copy
				padding: 140px 30px
				text-align: center
				background-image: linear-gradient(44deg, #74D792 0%, #70C0DC 100%)
				font-family: $font-barlow
				font-style: italic
				font-size: 23px
				color: #FFFFFF
				line-height: 29px
				strong
					font-weight: bold
					font-size: 18px
					line-height: 35px
				small
					font-size: 17px
					line-height: 35px

	@include media-breakpoint-down(sm)
		.callouts
			padding: 30px
		.tutors-wrapper
			.tutors
				h3
					padding: 30px
				.colored-copy
					padding: 30px
				.btn
					margin-left: 30px

	@include media-breakpoint-up(md)
		.tutors-wrapper
			.tutors
				.row
					padding: 0 30px
					.col-md-6
						&:first-of-type
							text-align: right
						&.img-wrapper
							// min-height: 272px
						img
							// position: absolute
							left: 0


// Personal Tutoring page
.personal-tutoring-wrapper
	.hero-section
		background-image: url(../img/personal-bg.svg)
		background-position: 93% top 
		background-repeat: no-repeat
		.hero-content
			padding: 0px 30px
			max-width: 600px
			h2
				font-weight: bold
			.btn
				margin-top: 50px
	.callouts
		padding-bottom: 0
		.callout
			.img-wrapper
				// min-height: 173px

	.bottom-copy
		padding: 60px 30px
		margin-top: 30px
		margin-bottom: 0
		background-color: #10A7E1
		color: #FFF
		text-align: center
	.topics
		padding: 30px
		margin-top: 60px
		.row
			margin-bottom: 10px
			margin-left: -5px
			margin-right: -5px
		.topic-item
			background-size: cover
			background-position: center
			position: relative
			.topic-title
				position: absolute
				bottom: 0
				padding: 10px
				padding-left: 15px
				padding-right: 0
				background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5))
				width: 100%
				color: #FFF
				span
					font-family: $font-barlow
					font-weight: bold
					font-size: 26px

	@include media-breakpoint-down(sm)
		.topics
			.topic-item
				margin-bottom: 30px

	@include media-breakpoint-up(md)
		.callouts
			.callout
				.img-wrapper
					min-height: 173px


// Button
.btn, input[type="submit"], .gform_submit .button, .gform_page_footer .button
	transition: all .2s ease
	color: #FFF !important
	border: none
	text-transform: uppercase
	min-width: 184px
	padding: 10px 20px
	font-family: $font-barlow-condensed
	font-size: 27px
	border-radius: 6px
	i
		font-size: 30px
		margin-left: 10px

	@include media-breakpoint-down(sm)
		padding: 10px
		font-size: 17px
		max-width: 100%
		i
			font-size: 20px

input[type="submit"], .gform_submit .button, .gform_page_footer .button
	font-size: 27px !important
	cursor: pointer

.btn-orange, input[type="submit"], .gform_submit .button, .gform_page_footer .button
	background-color: $brand-orange
	&:hover
		background-color: lighten($brand-orange, 10%)

.btn-blue-gradient
	background-image: linear-gradient(90deg, #55A2CC, #37769A)
	&:hover
		background-image: linear-gradient(90deg, lighten(#55A2CC, 10%), lighten(#37769A, 10%))

.btn-orange-gradient
	background-image: linear-gradient(90deg, #FFA727, #FF9C18)
	&:hover
		background-image: linear-gradient(90deg, lighten(#FFA727, 10%), lighten(#FF9C18, 10%))


//Extras
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-sm-15
	position: relative
	width: 100%
	min-height: 1px
	padding-right: 5px
	padding-left: 5px

.col-xs-15 
	flex: 0 0 20%
	max-width: 20%


@media (min-width: 768px) 
	.col-lg-15 
		flex: 0 0 20%
		max-width: 20%



@media (min-width: 992px) 
	.col-md-15 
		flex: 0 0 20%
		max-width: 20%



@media (min-width: 1200px) 
	.col-lg-15 
		flex: 0 0 20%
		max-width: 20%





// Forms
.eo-form-wrapper
	padding: 0 15px
	.col-md-6
		padding-left: 0
		padding-right: 0
		background-color: #FFF
		background-size: cover
		background-position: center bottom
		background-repeat: no-repeat
	.form-copy
		padding: 30px
		padding-bottom: 250px
		h1
			margin-bottom: 30px
	.form-wrapper
		padding: 30px
		.gform_wrapper
			.gform_body
				.gform_page
					.gform_page_footer
						text-align: right
						border: none
				.gfield
					label, input, textarea, select
						color: $brand-dark-blue
					label
						font-size: 16px
						font-family: $font-barlow
						font-weight: normal
						margin-bottom: 0
					input[type="text"], textarea, select
						border: none
						background-color: $brand-light-gray
					&.no-label
						> label
							display: none
					.ginput_container_select
						position: relative
						select
							border-radius: 0
							padding: 5px 8px
							-webkit-appearance: none
						&:after
							content: '\f0d7'
							font-family: FontAwesome
							position: absolute
							right: 10px
							top: 7px
					.gfield_radio
						@extend .clearfix
						li
							float: left
							margin-right: 30px
							label
								margin-left: 7px
							input[type="radio"]
								-webkit-appearance: none
								background-color: #FFF
								width: 18px !important
								height: 18px
								border-radius: 10px
								margin-bottom: 3px
								margin-left: 4px
								border: 3px solid #FFF
								outline: none !important
								&:checked
									background-color: $brand-blue
								&:after
									content: ''
									position: absolute
									width: 23px
									height: 23px
									border: 3px solid $brand-blue
									border-radius: 12px
									top: 4px
									left: 2px

			.gform_heading
				color: $brand-dark-blue
				.gform_description
					font-family: $font-barlow
					font-weight: bold
					font-size: 30px
					letter-spacing: -1.23px
					line-height: 43px
			.gform_footer
				text-align: right

	.ginput_container_fileupload 
		overflow: hidden
		position: relative
		height: 34px
		background-color: $brand-light-gray
		color: #838383
		&:before
			content: 'Browse file...'
			position: absolute
			left: 10px
			top: 5px
			font-family: $font-barlow
		span
			color: $brand-dark-blue
			position: absolute
			top: 5px
			left: 10px

		[type=file] 
			opacity: 0
	

	@include media-breakpoint-down(sm)
		.form-copy
			h1
				font-size: 28px
				line-height: 32px
		.form-wrapper
			.gform_wrapper
				.gform_heading
					.gform_description
						font-size: 24px
						line-height: 27px
				.gform_body
					.gfield
						label
							width: auto
						.gfield_radio
							li
								input[type="radio"]
									margin-bottom: 0px
									&:after
										width: 22px
										height: 22px

	@include media-breakpoint-up(md)
		.form-copy
			// padding-bottom: 250px
		.form-wrapper
			transform: translateY(-50%)
			position: relative
			top: 50%



.gform_wrapper.gform_validation_error
	.gfield.gfield_error
		margin-right: 0 !important
		max-width: none !important
		padding-right: 16px !important
		input[type="text"], select, textarea
			border: none !important
			background-color: pink !important
		label
			margin-top: 0 !important
		.ginput_container
			margin-top: 8px !important
		

	@include media-breakpoint-up(md)
		.gfield.gfield_error
			&.gf_left_half
				width: 50% !important
				padding-right: 16px !important
				margin-top: 16px !important
			&.gf_right_half
				width: 50% !important
				margin-top: 16px !important

.validation_error, .validation_message
	display: none !important
.gfield_error
	border: none !important
	background: none !important
	padding: 0 !important
.gfield_required
	display: none !important

.modal
	.gform_confirmation_message
		color: #FFF
.gform_confirmation_message
	color: $brand-black
	text-align: center


#ui-datepicker-div
	display: none

.animsition-loading:after
	font-size: 12px
	text-transform: uppercase

	// 404 Page
.error-404
	color: $brand-black
	text-align: center
	height: 50vh
	h1
		margin-bottom: 30px
	a
		color: $brand-dark-blue

// Search Page
#search-wrapper
	header
		color: $brand-black