@keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.vertical-center
	-webkit-transform: translateY(-50%)
	-moz-transform: translateY(-50%)
	transform: translateY(-50%)
	position: absolute
	top: 50%

.horizontal-center
	margin: 0 auto

.vertical-horizontal-center
	-webkit-transform: translate(-50%, -50%)
	-moz-transform: translate(-50%, -50%)
	transform: translate(-50%, -50%)
	position: absolute
	left: 50%
	top: 50%

.mobile
	@include media-breakpoint-up(sm)
		display: none !important

.tablet
	@include media-breakpoint-up(lg)
		display: none !important

.small-tablet
	@include media-breakpoint-up(md)
		display: none !important

.tablet-up
	@include media-breakpoint-down(sm)
		display: none !important

.desktop
	@include media-breakpoint-down(md)
		display: none !important

.desktop-wide
	@include media-breakpoint-down(lg)
		display: none !important

.hidden
	display: none !important

h1
	font-size: 46px
	color: $brand-dark-blue
	font-family: $font-barlow
	font-weight: bold
	letter-spacing: -1.89px
	line-height: 43px
	
	@include media-breakpoint-down(sm)
		font-size: 36px
		line-height: 38px

h2
	font-family: $font-barlow
	font-size: 31px
	color: $brand-dark-blue
	line-height: 32px

	@include media-breakpoint-down(sm)
		font-size: 21px
		line-height: 22px

h3
	font-family: $font-barlow
	font-size: 28px
	color: $brand-dark-blue
	line-height: 33px

	@include media-breakpoint-down(sm)
		font-size: 20px
		line-height: 24px

h4
	font-family: $font-barlow
	font-size: 21px
	color: $brand-dark-blue
	line-height: 25px

h5
	font-family: Barlow-Bold
	font-size: 13px
	color: $brand-gray
	line-height: 25px

p
	font-family: $font-barlow
	font-size: 21px
	color: $brand-dark-blue
	line-height: 25px

	@include media-breakpoint-down(sm)
		font-size: 16px
		line-height: 21px

b
	font-weight: bold

.section-title
	text-align: center

.eo-span
	background-color: #FFF
	color: $brand-dark-blue
	font-size: 36px
	font-family: $font-barlow
	font-weight: bold
	border-radius: 35px
	padding: 5px 15px
	position: relative
	&:before
		content: ''
		width: 25px
		height: 25px
		background-color: #fff
		position: absolute
		z-index: -1
		left: 0
		top: 0

	@include media-breakpoint-down(sm)
		font-size: 22px
		&:before
			height: 19px

body
	font-family: $font-barlow
	color: #fff
	background-color: $brand-light-gray

.page-section
	margin-top: 60px
	background-color: #FFF

	@include media-breakpoint-down(sm)
		overflow: hidden
		margin-top: 30px

.entry-title
	padding: 40px 30px
.hero-section
	.hero-copy
		max-width: 600px
		margin: 0 auto
		margin-top: 60px

.carousel
	.carousel-inner
		min-height: 100%
		.carousel-item
			min-height: 100%
			background-size: cover
			background-position: 75% top
	.carousel-indicators
		li
			width: 16px
			height: 16px
			border: 2px solid #FFF
			border-radius: 8px
			cursor: pointer
		
	@include media-breakpoint-down(sm)
		.carousel-inner
			height: calc(100vh - 79px)
			.carousel-item:nth(n+1)
				.btn
					width: 300px
					margin-top: 10px
	
body.home
	.carousel
		.carousel-inner
			font-family: $font-barlow-condensed
			min-height: 300px
			.carousel-item
				color: #FFF
				padding-top: 30px
				.eo-span
					margin-left: 32px
				.slide-copy-wrapper
					p
						font-family: $font-barlow-condensed
						font-size: 25.5px
						color: #FFFFFF
						b
							color: $brand-dark-blue
					b
						font-weight: bold
					ul
						list-style: none
						color: #FFF
						padding-left: 0px
						li
							font-family: $font-barlow
							font-size: 36px
							letter-spacing: -1.6px
							line-height: 1.2
							// background: url(../img/angle-right.svg) left 20px no-repeat
							padding-left: 30px
							margin-bottom: 10px
							position: relative
							&:before
								content: '\f105'
								font-family: FontAwesome
								position: absolute
								left: 0
					.buttons
						position: absolute
						bottom: 70px
						.btn
							margin-right: 20px
					.buttons-top-text
						position: absolute
						bottom: 150px
	.form-area
		margin-top: 50px

	@include media-breakpoint-down(sm)
		.carousel
			.carousel-inner
				min-height: 70vh
				.carousel-item
					.slide-copy-wrapper
						h1
							font-size: 30px
							line-height: 31px
						h2
							margin-bottom: 0
						p
							font-size: 16px
							margin-top: 20px
						ul
							li
								font-size: 27px
								background: none
								line-height: 1
						.buttons
							position: absolute
							bottom: 60px
							width: 70vw
							.btn
								font-size: 14px
								i
									display: none
						.buttons-top-text
							position: absolute
							bottom: 110px
					&:nth-child(n+2)
						.slide-copy-wrapper
							max-width: 220px
					&:first-child, &:last-child
						background-position: 63% top

	@include media-breakpoint-down(md)
		.btn
			width: 500px
			margin-top: 10px
			margin-right: 0

	@include media-breakpoint-up(md)
		.carousel
			.carousel-inner
				min-height: 680px
				.carousel-item
					padding-top: 170px
					.slide-copy-wrapper
						margin-left: 20px
						ul
							li
								font-size: 46px
								margin-bottom: 0px
						.btn
							// margin-top: 120px
					&:nth-child(n+2)
						h1
							font-size: 76px
							line-height: 78px
						h2
							font-size: 46px
						p
							font-size: 26px
							margin-top: 20px


.callouts
	padding: 30px
	background-color: #FFF
	.callout
		text-align: center
		img
			width: 110px
			max-width: 100%
		p
			margin-top: 30px

	@include media-breakpoint-down(xs)
		padding: 30px 15px
		.callout
			margin-top: 30px
			padding-left: 15px
			padding-right: 15px
	
	@include media-breakpoint-up(md)
		h1
			margin-bottom: 60px

.testimonials
	padding: 40px 30px
	background-color: #FFF
	background-image: url(../img/testimonial-bg-1.jpg), url(../img/testimonial-bg-2.jpg)
	background-position: top left, bottom right
	background-repeat: no-repeat, no-repeat
	.testimonial-image
		margin-top: 50px
		margin-bottom: 20px
	.btn
		font-size: 27px
		letter-spacing: -0.54px
		padding: 10px 30px
		&:first-of-type
			margin-right: 15px
	.testimonial-copy
		text-align: center
		max-width: 800px
		margin: 0 auto
		font-family: $font-barlow
		font-weight: lighter
		font-style: italic
		.testimonial-name
			font-family: $font-barlow
			font-weight: bold
			font-style: initial
			font-size: 18px
			margin-bottom: 0
		.testimonial-subname
			font-family: $font-barlow
			font-style: initial
			font-size: 16px
			line-height: 35px
			margin-top: -5px

	@include media-breakpoint-down(md)
		.btn
			font-size: 17px
			width: 80%
			margin-right: 0 !important
			padding: 10px
			font-size: 12px
			i
				font-size: 14px
		.btn + .btn
			margin-top: 15px

// Page Test Prep
body.page-template-template-test-prep
	.hero-section
		background-image: url(../img/test-prep-bg-1.svg), url(../img/test-prep-bg-2.svg)
		background-position: 0 280px, top right
		background-repeat: no-repeat, no-repeat
	.nav-tabs
		margin-top: 120px

	@include media-breakpoint-down(sm)
		.hero-section
			background-image: url(../img/test-prep-bg-2.svg)
			background-position: 270px top
			.entry-title
				padding: 30px
				padding-bottom: 0
			.hero-copy
				padding-left: 30px
				padding-right: 30px
			.nav-tabs
				margin-top: 30px
				padding-left: 30px
				padding-right: 30px
				padding-bottom: 30px
				.nav-link
					width: 100%
					border: none
					padding-left: 0
					padding-right: 0
					text-align: center

.nav-tabs
	padding-left: 30px
	border-bottom: 1px solid $brand-blue
	.nav-link
		border: none
		color: $brand-blue
		&.active
			color: $brand-orange
			border: 1px solid $brand-blue
			border-bottom: none
			font-weight: bold

// Page Careers
body.page-template-template-careers
	.hero-section
		background-size: 100%
		background-position: 50% 40%
		background-repeat: no-repeat
		padding: 70px 30px
		.hero-content
			max-width: 600px
			margin: 0 auto
			h1, p
				color: #FFF
			p
				margin-top: 20px
	.opportunities-section
		padding: 30px
		.opportunities-wrapper
			margin-top: 30px
			.opportunity-item
				background-color: #f5f5f5
				padding: 30px
				h4
					font-weight: bold

	.eo-form-wrapper
		.form-wrapper
			background-color: #F6F6F6

	@include media-breakpoint-down(sm)
		.hero-section
			background-size: cover
			
	@include media-breakpoint-down(md)
		.opportunities-section
			.opportunities-wrapper
				.opportunity-item
					margin-bottom: 30px

	@include media-breakpoint-up(lg)
		.opportunities-section
			.opportunities-wrapper
				.opportunity-item
					min-height: 517px

.locations-wrapper
	margin-top: 30px
.locations-section
	padding: 30px
	.location-item
		background-color: #f5f5f5
		padding: 30px
		min-height: 270px
		.location-copy
			min-height: 140px
			h4
				font-weight: bold
			p
				font-size: 19px
		.coming-soon
			background: $brand-blue
			font-family: $font-barlow
			font-size: 19px
			color: #FFFFFF
			box-shadow: -30px 0px 0px $brand-blue
			font-weight: bold
			padding: 10px 0
			width: 90%
			margin-top: 25px
	
	@include media-breakpoint-down(md)
		.location-item
			min-height: 420px
			.location-copy
				min-height: 260px

	@include media-breakpoint-down(sm)
		.entry-title
			padding: 0
		.location-item
			margin-bottom: 30px
			min-height: 0
			.location-copy
				min-height: 0

.tab-content
	.tab-pane
		.main-content-wrapper
			padding: 30px
		.secondary-content-wrapper
			background-image: linear-gradient(135deg, #55A2CC 0%, #37769A 100%)
			color: #FFF
			padding: 30px
			padding-bottom: 100px
			p, h2, h3, a
				color: #FFF
			ul
				margin-top: 30px
				list-style-type: none
				position: relative
				padding-left: 30px
				li
					font-family: $font-barlow
					font-size: 21px
					line-height: 25px
					margin-bottom: 1rem
					&:before
						content: ''
						width: 10px
						height: 10px
						position: absolute
						left: 0
						margin-top: 10px
						background-color: #FFF
						border-radius: 10px

	@include media-breakpoint-down(sm)
		.tab-pane .secondary-content-wrapper
			ul
				li
					&:before
						margin-top: 5px


// Page Advising
.page-template-template-advising
	.hero-section
		padding-bottom: 60px
		.entry-title
			padding: 40px 30px
		.hero-bottom-copy
			max-width: 620px
			margin: 0 auto
		p, h2
			padding-left: 30px
			padding-right: 30px
	.callouts
		.section-title
			max-width: 800px

.timeline-wrapper
	position: relative
	padding: 15px 0
	.timeline
		width: 100%
		height: 3px
		background-image: linear-gradient(90deg, #74D792, #70C1D8)
		position: relative
		&:after
			border: 9px solid transparent
			border-left-color: #70C1D8
			content: ''
			position: absolute
			right: -14px
			top: -8px
	.timeline-numbers
		padding: 0 30px
		.col-xl-1
			> span
				font-family: $font-barlow
				font-weight: bold
				margin-bottom: 9px
				display: block
				color: $brand-dark-blue
				&:after
					content: ''
					height: 8px
					width: 1px
					background: #73CEB2
					position: absolute
					left: 15px
					bottom: 0

		.col-xl-1:first-of-type span:after
			left: 15px
	.timeline-item
			background: #74D792
			font-family: $font-barlow
			font-size: 15px
			line-height: 16px
			color: #FFFFFF
			padding: 10px
			border-radius: 10px
			// max-width: 215px

	@include media-breakpoint-down(lg)
		.timeline
			display: none
		.timeline-numbers
			.col-xl-1
				> span
					display: none
				.timeline-item
					margin-bottom: 15px

	@include media-breakpoint-up(xl)
		padding: 210px 0 150px
		.section-title
			margin: 0 auto 90px
		.timeline-numbers
			.timeline-item
				opacity: 0
				animation: fade-in 1.5s forwards
			.col-xl-1
				&:nth-child(1)
					.timeline-item.top
						bottom: 125px
				&:nth-child(2) .timeline-item
					animation-delay: .1s
				&:nth-child(3) .timeline-item
					animation-delay: .2s
				&:nth-child(4) .timeline-item
					animation-delay: .3s
				&:nth-child(5) .timeline-item
					animation-delay: .4s
				&:nth-child(6) .timeline-item
					animation-delay: .5s
				&:nth-child(7) .timeline-item
					animation-delay: .6s
				&:nth-child(8) .timeline-item
					animation-delay: .7s
				&:nth-child(9) .timeline-item
					animation-delay: .8s
				&:nth-child(10) .timeline-item
					animation-delay: .9s
				&:nth-child(11) .timeline-item
					animation-delay: 1s

				&:nth-child(5), &:nth-child(9)
					.timeline-item.top
						left: -115px
						&:after
							left: auto
							right: 0
							bottom: -10px
							border-left-color: transparent
							border-right-color: #74D792
					.timeline-item.bottom
						left: -112px
						&:after
							left: auto
							right: 0
							border-left-color: transparent
							border-right-color: #74D792
				&:nth-child(10)
					.timeline-item.top
						bottom: 120px
				&:nth-child(5)
					.timeline-item
						background-color: #73D0AC
						&:after
							border-right-color: #73D0AC !important
					.timeline-item.bottom
						left: -100px
				&:nth-child(6)
					.timeline-item
						background-color: #72CFAB
						&:after
							border-left-color: #72CFAB !important
				&:nth-child(9)
					.timeline-item
						background-color: #72CFAB
						&:after
							border-right-color: #72CFAB !important
				&:nth-child(10)
					.timeline-item
						background-color: #71C5CC
						&:after
							border-left-color: #71C5CC !important
				&:nth-child(11)
					.timeline-item
						background-color: #70C3D3
						&:after
							border-left-color: #70C3D3 !important
		.timeline-item
			position: absolute
			white-space: nowrap
			&.top
				bottom: 60px
				&:after
					content: ''
					position: absolute
					left: 0
					bottom: -10px
					border: 15px solid transparent
					border-left-color: #74D792
			&.bottom
				top: 60px
				&:after
					content: ''
					position: absolute
					left: 0
					top: -12px
					border: 15px solid transparent
					border-left-color: #74D792


// Our Philosofy page
.page-template-template-philosophy
	.entry-title
		padding-bottom: 0px
	.callouts
		.section-title
			text-align: left
			margin-bottom: 60px

	.approach-wrapper
		.approach
			padding: 40px 15px
			background-image: url(../img/approach-bg.jpg)
			background-repeat: no-repeat
			background-position: right 0px
			p.subtitle
				margin-top: 30px
			.bubbles
				padding: 40px 0
				.bubble-text
					background-color: #67A2D7
					padding: 15px
					border-radius: 25px
					margin-bottom: 20px
					position: relative
					p
						color: #FFF
						margin-bottom: 0
					&:before
						content: ''
						position: absolute
						left: 0
						top: 0
						border: 20px solid transparent
						border-left-color: #67A2D7
						border-top-color: #67A2D7
					&:after
						content: ''
						position: absolute
						right: 0
						bottom: 0
						border: 20px solid transparent
						border-right-color: #67A2D7
						border-bottom-color: #67A2D7

	.tutors-wrapper
		h1
			padding-right: 30px
			padding-left: 30px
		.tutors
			padding: 40px 0
			.row
				align-items: center
				.col-md-6
					img
						width: 100%
			.colored-copy
				padding: 140px 30px
				text-align: center
				background-image: linear-gradient(44deg, #74D792 0%, #70C0DC 100%)
				font-family: $font-barlow
				font-style: italic
				font-size: 23px
				color: #FFFFFF
				line-height: 29px
				strong
					font-weight: bold
					font-size: 18px
					line-height: 35px
				small
					font-size: 17px
					line-height: 35px

	@include media-breakpoint-down(sm)
		.callouts
			padding: 30px
		.approach-wrapper
			.approach
				background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)), url(../img/approach-bg.jpg)
		.tutors-wrapper
			.tutors
				h3
					padding: 30px
				.colored-copy
					padding: 30px
				.btn
					margin-left: 30px
	
	@include media-breakpoint-down(md)
		.tutors-wrapper
			.tutors
				.col-md-6
					padding-top: 30px
					padding-bottom: 30px

	@include media-breakpoint-up(md)
		.tutors-wrapper
			.tutors
				.row
					padding: 0 30px
					.col-md-6
						&:first-of-type
							text-align: right
						&.img-wrapper
							// min-height: 272px
						img
							// position: absolute
							left: 0

// Personal Tutoring page
.personal-tutoring-wrapper,
.the-tutorium-wrapper
	.hero-section
		background-image: url(../img/personal-bg.svg)
		background-position: 93% top 
		background-repeat: no-repeat
		.hero-content
			padding: 0px 30px
			max-width: 600px
			h2
				font-weight: bold
			.btn
				margin-top: 50px
	.callouts
		padding-bottom: 0
		.callout
			.img-wrapper
				// min-height: 173px

	.bottom-copy
		padding: 60px 30px
		margin-top: 30px
		margin-bottom: 0
		background-color: #10A7E1
		color: #FFF
		text-align: center
	.topics
		padding: 30px
		margin-top: 60px
		.row
			margin-bottom: 10px
			margin-left: -5px
			margin-right: -5px
		.topic-item
			background-size: cover
			background-position: center
			position: relative
			.topic-title
				position: absolute
				bottom: 0
				padding: 10px
				padding-left: 15px
				padding-right: 0
				background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5))
				width: 100%
				color: #FFF
				span
					font-family: $font-barlow
					font-weight: bold
					font-size: 26px

	@include media-breakpoint-down(md)
		.hero-section
			background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)), url(../img/personal-bg.svg)
		.topics
			.topic-item
				margin-bottom: 30px
		.btn
			font-size: 13px

	@include media-breakpoint-up(md)
		.callouts
			.callout
				.img-wrapper
					min-height: 173px


// The Tutorium Page
body.page-template-template-the-tutorium
	position: relative
.the-tutorium-wrapper
	.tutorium-nav-wrapper
		background: $brand-dark-blue
		color: #fff
		text-align: center
		margin-top: 60px
		.tutorium-nav
			display: flex
			justify-content: space-around
			a.nav-link
				color: #fff
	p
		font-size: 18px
	.hero-section
		// background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url(../img/temporary-hero.jpg)
		background-color: #f7f7f7
		background-size: cover
		background-position: center top
		display: flex
		justify-content: flex-end
		min-height: 600px
		margin-top: 0
		.container
			position: relative
		.hero-content
			text-align: right
			max-width: 590px
			position: absolute
			transform: translateY(-50%)
			right: 0
			top: 40%
			width: 100%
			.btn
				background-color: $brand-dark-blue
				color: #fff
			.form-area
				form
					display: flex
					align-items: center
					margin-top: 80px
				.gform_heading,
				.gfield_label
					display: none
				.gform_body
					flex: 0 0 70%
					.gfield
						margin-top: 0
						.ginput_container
							margin-top: 0
				.gform_footer
					flex: 0 0 30%
					padding: 0
					margin: 0
				input[type="text"]
					width: 100%
					border: 1px solid $brand-dark-blue
					border-radius: 4px
					padding: 8px 15px !important
					border-radius: 10px
					font-size: 14px !important
				input[type="submit"]
					background-color: $brand-dark-blue
					padding: 4px 8px
					min-width: 0
					font-size: 20px !important
					width: 100%
					font-family: $font-barlow
			h1.entry-title
				text-transform: uppercase
				letter-spacing: 1px
				font-size: 75px
				line-height: 80px
				padding: 0
				img
					width: 66px
					margin-top: -14px
			span
				font-size: 30px
				line-height: 36px
				margin-top: 20px
			p
				font-size: 24px
	.page-content
		margin-top: 30px
		.carousel
			padding: 30px 50px
			background-color: #fff
			border-radius: 10px
			.carousel-inner
				height: auto
				.row
					align-items: center
				.btn
					background-color: $brand-dark-blue
					color: #fff
					font-family: $font-barlow-condensed
					font-weight: 900
					font-size: 20px
					display: table
					margin: 0 auto
					margin-top: 30px
			.carousel-control
				width: auto
				color: #fff
				opacity: 1 !important
				i
					padding: 13px
					background-color: $brand-dark-blue
					border-radius: 50%
					color: #fff
					height: 45px
					width: 45px
				&.carousel-control-next
					right: -23px
				&.carousel-control-prev
					left: -23px
			.carousel-indicators
				bottom: -50px
				li
					background-color: $brand-dark-blue
					border: none
					width: 8px
					height: 8px
					&.active
						background-color: $brand-blue
		.topics,
		.promos
			background-color: #fff
			padding: 30px
			padding-bottom: 50px
			h2
				font-weight: 700
				text-align: center
				margin: 30px auto 40px
				max-width: 600px
				line-height: 36px
			p
				text-align: center
			h4
				font-size: 18px
				font-weight: 700
				text-align: center
		.promos
			background-color: $brand-light-gray
			h2,h3,h4,p,label,span
				color: $brand-black
			p.memberships-paragraph
				margin-bottom: 40px
			.scholar-wrapper
				.promo:nth-of-type(3)
					border: 3px solid $brand-lime
				.promo:nth-of-type(4)
					border: 3px solid $brand-orange
			.promo
				padding: 20px
				background-color: #fff
				border-radius: 15px
				max-width: 320px
				margin: 0 auto 30px
				min-height: 230px
				position: relative
				&:first-of-type
					border: 3px solid red
				span.sticker
					position: absolute
					top: 20px
					right: 15px
					font-size: 14px
					background-color: $brand-lime
					color: #fff
					padding: 5px 10px
					border-radius: 8px
					&.orange
						background-color: $brand-orange
				p
					text-align: left
				.btn
					transition: all .2s
					color: $brand-black !important
					border: 1px solid $brand-dark-blue
					border-radius: 12px
					padding:  5px
					font-size: 16px
					font-weight: 700
					min-width: 150px
					display: table
					margin: 0 auto
					text-transform: none !important
					&:hover
						background-color: $brand-dark-blue
						color: #fff !important
				.scratched
					position: relative
					display: inline-block
					&::after
						content: ''
						position: absolute
						width: 100%
						height: 3px
						transform: rotate(9deg)
						left: 0
						bottom: 12px
						background-color: red

		.tutorium-enroll
			background-color: $brand-dark-red
			color: #fff
			padding-top: 50px
			padding-bottom: 60px
			h2
				text-align: center
				color: #fff
				font-weight: 700
				margin-bottom: 50px
				font-size: 36px
				line-height: 40px
			p,
			h3
				color: #fff
			.enroll-form
				text-align: center
				padding: 0 30px
				form
					input[type="text"],
					select
						padding: 4px 4px 8px 12px !important
						border: 1px solid #fff
						background-color: transparent
						color: #fff
						font-size: 16px
						min-height: 44px
						&::placeholder
							font-size: 16px
							color: #fff
					.gfield_label
						display: none
					.gfield:last-child
						margin-top: 25px
						select
							width: 100%
					.gform_footer
						display: flex
						justify-content: center
						input[type="submit"]
							background-color: $brand-dark-blue
							border-radius: 0
							font-size: 18px !important
							min-width: 150px
			.form-area-copy
				margin-top: 30px

	@include media-breakpoint-up(md)
		.page-content .carousel .carousel-inner .carousel-item .row
			min-height: 330px
		.tutorium-enroll
			.enroll-form
				border-right: 1px solid #fff

	@include media-breakpoint-down(sm)
		.hero-section
			background-position: 40% top
			.hero-content
				max-width: 390px
				h1.entry-title
					font-size: 44px
					line-height: 46px
					img
						width: 36px
						margin-top: -10px
		.tutorium-nav-wrapper
			margin-top: 0
			.tutorium-nav
				flex-direction: column
		.page-content
			.carousel
				.carousel-control
					&.carousel-control-next
						right: -10px
					&.carousel-control-prev
						left: -10px

body.page-id-1863
	.the-tutorium-wrapper
		.tutorium-nav-wrapper
			background-color: $brand-orange
		.hero-content
			top: 50%
			h1.entry-title
				text-align: center
				margin-bottom: 60px
			.form-area
				text-align: center
				.btn
					background-color: $brand-lime
	#wrapper-footer-full
		display: none
	footer#wrapper-footer,
	.page-content
		margin-top: 0



body.page-id-1825
	#wrapper-footer-full
		display: none
	#wrapper-footer
		margin-top: 0

// Button
.btn, input[type="submit"], .gform_submit .button, .gform_page_footer .button
	transition: all .2s ease
	color: #FFF !important
	border: none
	text-transform: uppercase
	min-width: 184px
	padding: 10px 20px
	font-family: $font-barlow-condensed
	font-size: 27px
	border-radius: 6px
	i
		font-size: 30px
		margin-left: 10px

	@include media-breakpoint-down(sm)
		padding: 10px
		font-size: 17px
		max-width: 100%
		i
			font-size: 20px

input[type="submit"], .gform_submit .button, .gform_page_footer .button
	font-size: 27px !important
	cursor: pointer

.btn-orange, input[type="submit"], .gform_submit .button, .gform_page_footer .button
	background-color: $brand-orange
	&:hover
		background-color: lighten($brand-orange, 10%)

.btn-blue-gradient
	background-image: linear-gradient(90deg, #55A2CC, #37769A)
	&:hover
		background-image: linear-gradient(90deg, lighten(#55A2CC, 10%), lighten(#37769A, 10%))

.btn-orange-gradient
	background-image: linear-gradient(90deg, #FFA727, #FF9C18)
	&:hover
		background-image: linear-gradient(90deg, lighten(#FFA727, 10%), lighten(#FF9C18, 10%))


//Extras
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-sm-15
	position: relative
	width: 100%
	min-height: 1px
	padding-right: 5px
	padding-left: 5px

.col-xs-15 
	flex: 0 0 20%
	max-width: 20%


@media (min-width: 768px) 
	.col-lg-15 
		flex: 0 0 20%
		max-width: 20%



@media (min-width: 992px) 
	.col-md-15 
		flex: 0 0 20%
		max-width: 20%



@media (min-width: 1200px) 
	.col-lg-15 
		flex: 0 0 20%
		max-width: 20%

// Blog page
body.blog
	.entry-title
		padding-left: 0
		color: $brand-dark-blue
		a
			color: $brand-dark-blue
	.entry-meta,
	.entry-footer
		a,
		h2,
		span
			color: $brand-dark-blue

	.gform_heading,
	.gform_body
		color: $brand-dark-blue



// Forms
.eo-form-wrapper
	padding: 0 15px
	.col-md-6
		padding-left: 0
		padding-right: 0
		background-color: #FFF
		background-size: cover
		background-position: center bottom
		background-repeat: no-repeat
	.form-copy
		padding: 30px
		padding-bottom: 250px
		h1
			margin-bottom: 30px
	.form-wrapper
		padding: 30px
		.gform_wrapper
			.gform_body
				.gform_page
					.gform_page_footer
						text-align: right
						border: none
				.gfield
					label, input, textarea, select
						color: $brand-dark-blue
					label
						font-size: 16px
						font-family: $font-barlow
						font-weight: normal
						margin-bottom: 0
					input[type="text"], textarea, select
						border: none
						background-color: $brand-light-gray
					&.no-label
						> label
							display: none
					.ginput_container_select
						position: relative
						select
							border-radius: 0
							padding: 5px 8px
							-webkit-appearance: none
						&:after
							content: '\f0d7'
							font-family: FontAwesome
							position: absolute
							right: 10px
							top: 7px
					.gfield_radio
						@extend .clearfix
						li
							float: left
							margin-right: 30px
							label
								margin-left: 7px
							input[type="radio"]
								-webkit-appearance: none
								background-color: #FFF
								width: 18px !important
								height: 18px
								border-radius: 10px
								margin-bottom: 3px
								margin-left: 4px
								border: 3px solid #FFF
								outline: none !important
								&:checked
									background-color: $brand-blue
								&:after
									content: ''
									position: absolute
									width: 23px
									height: 23px
									border: 3px solid $brand-blue
									border-radius: 12px
									top: 4px
									left: 2px

			.gform_heading
				color: $brand-dark-blue
				.gform_description
					font-family: $font-barlow
					font-weight: bold
					font-size: 30px
					letter-spacing: -1.23px
					line-height: 43px
			.gform_footer
				text-align: right

	.ginput_container_fileupload 
		overflow: hidden
		position: relative
		height: 34px
		background-color: $brand-light-gray
		color: #838383
		&:before
			content: 'Browse file...'
			position: absolute
			left: 10px
			top: 5px
			font-family: $font-barlow
		span
			color: $brand-dark-blue
			position: absolute
			top: 5px
			left: 10px

		[type=file] 
			opacity: 0
	

	@include media-breakpoint-down(sm)
		.form-copy
			h1
				font-size: 28px
				line-height: 32px
		.form-wrapper
			.gform_wrapper
				.gform_heading
					.gform_description
						font-size: 24px
						line-height: 27px
				.gform_body
					.gfield
						label
							width: auto
						.gfield_radio
							li
								input[type="radio"]
									margin-bottom: 0px
									&:after
										width: 22px
										height: 22px

	@include media-breakpoint-up(md)
		.form-copy
			// padding-bottom: 250px
		.form-wrapper
			transform: translateY(-50%)
			position: relative
			top: 50%



.gform_wrapper.gform_validation_error
	.gfield.gfield_error
		margin-right: 0 !important
		max-width: none !important
		padding-right: 16px !important
		input[type="text"], select, textarea
			border: none !important
			background-color: pink !important
		label
			margin-top: 0 !important
		.ginput_container
			margin-top: 8px !important
		

	@include media-breakpoint-up(md)
		.gfield.gfield_error
			&.gf_left_half
				width: 50% !important
				padding-right: 16px !important
				margin-top: 16px !important
			&.gf_right_half
				width: 50% !important
				margin-top: 16px !important

.validation_error, .validation_message
	display: none !important
.gfield_error
	border: none !important
	background: none !important
	padding: 0 !important
.gfield_required
	display: none !important

.modal
	.gform_confirmation_message
		color: #FFF
.gform_confirmation_message
	color: $brand-black
	text-align: center


#ui-datepicker-div
	display: none

.animsition-loading:after
	font-size: 12px
	text-transform: uppercase

	// 404 Page
.error-404
	color: $brand-black
	text-align: center
	height: 50vh
	h1
		margin-bottom: 30px
	a
		color: $brand-dark-blue

// Search Page
#search-wrapper
	header
		color: $brand-black