$brand-dark-blue: #2D556B
$brand-blue: #2a9ec4
$brand-black: #474747
$brand-lime: #82B151
$brand-orange: #FF9C18
$brand-light-gray: #eaeaea
$brand-gray: #9A9A9A
$brand-dark-red: #912A2A

$font-barlow: 'Barlow', sans-serif
$font-barlow-condensed: 'Barlow Condensed', sans-serif
